@model IDupOnline.Models.ValidationPage

@{
    ViewData["Title"] = "Home Page";
}

<br />

@using (Html.BeginForm("Index", "Upload", FormMethod.Post, new {  enctype = "multipart/form-data"   }))
{
    <input type="file" name="files" multiple />
    <input type="submit" value="Upload" />
}

<br />

<div> We can setup the framework and UI here with the power of Razor Pages! </div>

