@{
    ViewData["Title"] = "Validation Page";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> Is The Image A Duplicate? <b> @ViewBag.isDup </b> </p>
<!-- <p> Bytes:   <b> @ViewBag.bytes </b> </p> -->